dm_env==1.6
pexpect==4.6.0
pyquaternion==0.9.9
pyagxrobots==0.8.4
pycryptodome==3.10.1
ipython==8.12.3
esdk-obs-python==3.24.6.1
h5py==3.11.0
PyYAML==6.0.1
tqdm==4.66.4
wandb==0.17.3
pybullet==3.2.6
pyqt5==5.15.0
pyqtgraph==0.13.3
dm_control==1.0.4
matplotlib==3.7.5
sapien==3.0.0b1
